BASE_URL=https://cog-stg.incubatelabs.com
BROWSER=chromium
HEADLESS=false
DEFAULT_TIMEOUT_MS=300000
BROWSERSTACK_TIMEOUT_MS=600000
TEST_ENV=local

BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_BUILD_NAME=COG Checkout Automation
BROWSERSTACK_PROJECT_NAME=Cloud of Goods Checkout
